* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#heading {
  font-weight: 700;
  font-size: 40px;
  color: rgb(10, 127, 34);
  text-shadow: -2px -2px 1px rgb(128, 0, 0);
  margin: 10px;
}
.container table {
  padding: 10px;
}
thead {
  height: 50px;
  /* background-color: blue; */
}
.header {
  height: 25px;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}
#task-area {
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(0, 255, 255, 0.15);
}
#task-area:hover {
  background-color: rgba(0, 255, 255, 0.25);
  cursor: text;
}
#task-schedule {
  min-width: 75px;
  cursor: text;
}
.buttons {
  font-weight: 500;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  width: 90px;
  height: 40px;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.buttons:hover{
  transform: scale(1.1);
}
.delete-button {
  background-color: rgb(153, 11, 11);
  letter-spacing: 2px;
}
#add-button {
  background-color: green;
}
.scheduled-task {
  text-align: center;
  text-transform: capitalize;
}
.scheduled-date {
  text-align: center;
}
